*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    background-color: black;
    color : white;
    font: "Poppins" ,  "sans-serif";
}

.Navbar{
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: space-between;
    padding : 2% 5%;
    z-index : 10;
    display: flex;
}

.Navbar_brand{
    width : 150px;
    height : 100%;
}

.brand_logo{
    width: 100%;
    height: 100%;
}
.language_drop_down{
 background : transparent;
 border: none;
 color : white;
}

.language_drop_down{
 outline : none;
}

.language_container{
border : 1px solid white;
padding : 0.4rem;
background: rgba(0,0,0,0.4); 
}

.Sign_in_button{
    background-color: #E50914;
    border : 1px solid #E50914;
    color : white;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 10px;
}

.Navbar_nav_items{
    display : flex;
    gap: 30px;
}